@CHARSET "UTF-8";

.dow {
	display: block;
	width: 50px;
	height: 50px; 
	cursor: pointer;
	background-color: gray;
	vertical-align:middle;
	line-height:50px;height:50px; padding:10px;
}
.dow a{
	color: black;
}
